/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	 .sm-desktop{
	  	display: none !important;
	  }
	  .top-nav{
	  	min-height: 50px;
	  }
	  .xian{
	  	display: none;
	  }
	.why-choose{
		padding-bottom: 60px;
	}
	 /*---------news------------*/
	.news__list{
		margin-left: 0;
		margin-right: 0;
	 /*---------End of news------------*/
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top-contacts__inner .top-contacts__mail, .top-contacts__inner .top-contacts__phone{
		font-size: 0;
	}
	.slider__slide{
		height: 480px;
	}
	.slide__content-inner{
		padding: 74px 50px 0px 10%;
	}
	.slide__title{
		font-size: 50px;
	}

	.top-offers__rss{
		display: none;
	}
	.featured-tours__tabs-wrap, .featured-tours__icons-wrap{
		display: none;
	}

	.featured-tours-mobile{
		display: block;
	}
	
	.footer__nav-element h3 a{
		font-size: 16px;

	}
	.footer__nav-link{
		font-size: 12px;
	}

	.footer__nav-element{
		padding: 45px 5px 0 27px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.section{
		padding-bottom: 0;
	}
	.top-contacts{
		background-color: #1896e3;
	}
	.top-logo{
		display: none;
	}
	.lang a.lang__main{
		box-shadow: none;
	}
	.top-logo-mini{
		display: none;
	}
	.top-contacts__inner{
		display: none;
	}
	.top-contacts__inner-nav{
		display: block;
	}

	.slider__slide{
		height: 380px;
	}
	.slide__content-inner{
		padding: 100px 15px 0px 0;
	}
	.slide__title{
		font-size: 25px;
		line-height: 29px;
	}
	.slide__descr{
		width: 480px;
		font-size: 15px;
		line-height: 20px;
	}
	
	.customize-trip{
		background-image: url(../img/bg_inus2.jpg);
		background-repeat: repeat;
		-webkit-background-size: auto;
		background-size: auto;
		height: auto;
		padding-bottom: 30px;
	}
	
	.customize-trip__overlay{
		display: none;
	}
	.customize-trip .section-title{
		padding-top: 20px;
		padding-bottom: 35px;
		
	}
	.customize-trip__grid{
		height: auto;
	}

	.featured-tours-mobile__link,
	.mob-link-big{
		height: 144px;
		padding-top: 10px;
		margin-bottom: 15px;
	}

	.section-title{
		padding-top: 20px;
		padding-bottom: 35px;
	}
	.section-title .section-title__header{
		font-size: 40px;
	}
	/*------.why-choose----------*/
	
	.why-choose__item{
		background-position: center top;
		padding-top: 60px;
		margin-top: 30px;
	}
	.why-choose__item-left, .why-choose__item-right{
		display: block;
		width: 100%;
		padding: 0;
		padding: 0 15%;
		text-align: center;
	}
	.why-choose__item-right{
		font-size: 14px;
	}
	.why-choose__item-left{
		font-size: 20px;
	}
	/*------End of .why-choose----------*/

	/*-----------news------------------*/
	.news{
		padding: 0;
		padding-top: 15px;
	}
	.news__content{
		height: auto;
	}
	/*-----------End ofnews------------------*/

	/*-----------footer-top------------------*/
	.footer-top__item{
		padding: 10px 18px;
	}
	/*-----------End offooter-top------------------*/

	.footer__nav-list{
		display: none;
	}
	.footer__nav-element{
		width: 50%;
		padding-left: 7%;
		padding-right: 0;
		padding-top: 5%;
	}
	.footer__social-link{
		padding: 0 5px;
	}
	.footer__social-link img{
			width: auto;
		}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.owl-dots{
		display: none;
	}
	.slide__descr{
		width: 300px;
	}
	.slide__content-inner{
		padding: 70px 15px 0px 0;
	}
	
	/*-----------footer-top------------------*/
	.footer-top__item{
		padding: 10px 10px;
	}
	/*-----------End offooter-top------------------*/

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top-logo-2{
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
		/* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }

  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li{
  	float: left;
  	-display: block !important;
  }
  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li ul{
  }
  .sm.sm-mytheme a:hover{
	background-color: transparent !important;
  }
  .sm-hidden{
  	display: none !important;
  }

}
